
html, body {
    font-family: Roboto;
    margin: 0;
    padding: 0 5%;
}

header {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
}

#logo {
    font-size: 24px;
    display: flex;
    color: #F9FAF8;
    margin-right: auto;
}

nav>ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font: 18px;
    color: #E5E7EB;
}

header, .hero, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero, .info, .quote {
    height: 400px;
}

.closing {
    height: 300px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.cta-text {
    height:100px;
    background-color: #3882F6;
    width: 600px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.cta-button {
    border: 1px solid white;
    width: 100px;
    height: 30px;
    padding: 6px 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

button {
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.info {
    text-align: center;
}

.info-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

.card {
    width: 185px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.card-image {
    width: 185px;
    height: 185px;
    border: 2px solid #3882F6;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #444C59;
}

#testi {
    text-align: right;
    font-weight: bold;
}

h1 {
    font: Roboto;
    font-size: 48px;
    font-weight: extra-bold;
}

.hero {
    display: flex;
}

.hero-header, .hero-image {
    flex: 1;
    padding-left: 2%;
    padding-right: 2%;
}

.hero-image {
    text-align: center;
    background-color: #6D747D;
    display: flex;
    align-items: center;
    justify-content: center;    
}

footer {
    padding: 10px 0;
    text-align: center;
}
